body{
	background: lightblue;
	font-family:Arial,"Helvetica neue",Helvetica,sans-serif;
	font-size: 14px; 
}
.login{
	width: 400px;
	margin: 100px auto;
}
input{
 	display: block;
 	width: 100%;
 	padding: 5px;
 	box-sizing: border-box;
 	font-size: 14px;

 }
 button{
 	width: 100%;
 	padding: 5px;
 	box-sizing: border-box;
 }
 p.error{
 	background: red;
 	color: white;
 	padding: 10px;
 }